<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team1_k.project.seg.dataviz" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.team1_k.project.seg.dataviz.DataVizApplication"
        android:allowBackup="true"
        android:icon="@drawable/plutoinvest"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.team1_k.project.seg.dataviz.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.team1_k.project.seg.dataviz.data.DataVizContentProvider"
            android:authorities="com.team1_k.project.seg.dataviz.contentprovider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.team1_k.project.seg.dataviz.MainViewActivity"
            android:label="@string/title_activity_main_view" />
        <activity
            android:name="com.team1_k.project.seg.dataviz.NewsActivity"
            android:label="@string/title_activity_news"
            android:parentActivityName="com.team1_k.project.seg.dataviz.MainViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team1_k.project.seg.dataviz.MainView" />
        </activity>

        <service android:name="com.team1_k.project.seg.dataviz.data_news.RssService" />

        <activity
            android:name="com.team1_k.project.seg.dataviz.MetricSelectionActivity"
            android:label="@string/title_activity_metric_selection" />
        <activity
            android:name="com.team1_k.project.seg.dataviz.CountrySelectionActivity"
            android:label="@string/title_activity_country_selection"
            android:launchMode="singleTop"
            android:parentActivityName="com.team1_k.project.seg.dataviz.MainViewActivity"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:resource="@xml/searchable"
                android:value="com.team1_k.project.seg.dataviz.MainView" />
        </activity>
        <activity
            android:name="com.team1_k.project.seg.dataviz.CountryDetailActivity"
            android:label="@string/title_activity_country_detail"
            android:parentActivityName="com.team1_k.project.seg.dataviz.CountrySelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team1_k.project.seg.dataviz.CountrySelection" />
        </activity>
        <activity
            android:name="com.team1_k.project.seg.dataviz.graphActivity"
            android:label="@string/title_activity_graph" />
        <activity
            android:name="com.team1_k.project.seg.dataviz.GraphActivity"
            android:label="@string/title_activity_graph" />
        <activity
            android:name="com.team1_k.project.seg.dataviz.ExchangeRatesActivity"
            android:label="@string/title_activity_exchange_rates"
            android:parentActivityName="com.team1_k.project.seg.dataviz.MainViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team1_k.project.seg.dataviz.MainViewActivity" />
        </activity>
    </application>

</manifest>
