<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team1_k.project.seg.dataviz" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.team1_k.project.seg.dataviz.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.team1_k.project.seg.dataviz.data.DataVizContentProvider"
            android:authorities="com.team1_k.project.seg.dataviz.contentprovider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name="com.team1_k.project.seg.dataviz.MainViewActivity"
            android:label="@string/title_activity_main_view"
            android:parentActivityName="com.team1_k.project.seg.dataviz.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team1_k.project.seg.dataviz.MainActivity" />
        </activity>
        <activity
            android:name="com.team1_k.project.seg.dataviz.NewsActivity"
            android:label="@string/title_activity_news"
            android:parentActivityName="com.team1_k.project.seg.dataviz.MainViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team1_k.project.seg.dataviz.MainView" />
        </activity>

        <service android:name="com.team1_k.project.seg.dataviz.data_news.RssService" />

        <activity
            android:name="com.team1_k.project.seg.dataviz.MetricSelectionActivity"
            android:label="@string/title_activity_metric_selection" >
        </activity>
        <activity
            android:name="com.team1_k.project.seg.dataviz.CountrySelectionActivity"
            android:label="@string/title_activity_country_selection" >
        </activity>
        <activity
            android:name="com.team1_k.project.seg.dataviz.CountryDetailActivity"
            android:label="@string/title_activity_country_detail" >
        </activity>
    </application>

</manifest>
